
/* Helpers
  =============== */
.clearfix::before,
.clearfix::after {
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.padding-top {
    padding-top: 2rem;
}

.padding-bottom {
    padding-bottom: 2rem;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 2rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.position-bottom {
    position: absolute;
    bottom: 0;
    right: 30%;
    left: 30%;
    text-align: center;
}

.position-top {
    position: absolute;
    top: 0;
    right: 30%;
    left: 30%;
    text-align: center;
}

.alternate-background {
    background: #fafafa;
    color: #404040;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

#ui {
    position: relative;
    padding: 20px;
    z-index: 1;
}

.annotation {
    position: absolute;
    z-index: 1;
}
.annotation-content {
    padding: 1em;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 0px 20px 20px 20px;
    line-height: 1.3;
    /*transition: transform .15s ease-out;*/
    /*transform: scale(0);*/
    transform-origin: left top;
    text-align: right;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 300px;
    min-height: 150px;
    display: none;
}
.annotation.open {
}

.annotation.open .annotation-content {
    /*transform: scale(1, 1);*/
    display: block;
}

.annotation-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 0px 20px 20px 20px;
    color: #fff;
    font-size: 27px;
    text-align: center;
    transition: color ease-out .15s;
}


.annotation-icon:hover {
    color: #aaa;
}
.annotation.open .annotation-icon {
    opacity: 0;
}

.annotationtitle {
    font-size: 24px;
    font-weight: 600;
    color: #eee;
    transition: .2s;
    background: none;
}

.annotationToolbar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: rgba(200, 200, 200, 0.8);
    border-radius: 0px 50px 50px 50px;
    width: 50px;
    height: 50px;
    font-weight: 600;
    color: #fff;
    opacity: 0.8;
    transition: .2s;
    cursor: pointer;
}


.ico {
    display: inline-block;
    width: 24px;
    height: 24px;
    transition: .2s;
    opacity: .25;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: none;
    background: none;
    font-size: 20px;
    padding: 0;
}


.ico:hover,
.close-button:hover,
.annotationToolbar:hover {
    opacity: 1;
}

.annotation textarea,
.annotation input {
    color: #cacaca;
    font-weight: 300;
    font-family: 'Avenir Next';
    background: none;
    border: none;
    width: 95%;
    margin: 10px;
    transition: .1s;
    resize: none;
    text-align: left;
}
textarea:focus,
button:focus,
input:focus {
    outline: none;
}

input::placeholder {
    color: #bbb;
}

.close-annotation {
    position: absolute;
    right: 20px;
    top: 20px;
}

:root {
    --brain: #ffdb54;
    --vessels: #ff6b12;
    --kidney: #da7ba4;
    --lungs: #7b98fd;
    --liver: #b38127;
    --skeleton: #99d9f5;
    --muscle: #c286c3;
    --gastro: #75bd19;
    --heart: #ff6e67;
    --genital: #d0a3a3;
    --immunity: #70e080;
    --endocrine: #f7bb7c;
}

body {
    cursor: default;
}

* {
    font-family: Avenir Next;
}

.logo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.toolbar {
    display: flex;
    justify-content: left;
    margin: 40px 128px 0px;
    position: relative;
    z-index: 1;
}

.toolbar-button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #aaa;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 16px 16px 0px;
    font-size: 30px;
    transition: .2s;
}

.toolbar-button:hover {
    background-color: #888;
    cursor: pointer;
}


.toolbar > div:hover .toolbar-dropdown {
    display: flex;
}

.toolbar-dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    padding-top: 272px;
    padding-left: 16px;

}

.toolbar-social {
    display: flex;
    position: absolute;
    left: 40px;
    top: 128px;
    flex-direction: column;
}

.social-button {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    transition: .2s;
}

.social-button:hover {
    color: #888;
    cursor: pointer;
}

.sidenav-button {
    position: absolute;
    color: #ccc;
    top: 36px;
    right: 8px;
    width: 48px;
    height: 48px;
    font-size: 32px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.sidenav-button:hover,
.sidenav a:hover {
    color: #888;
    cursor: pointer;
}


.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    transition: 0.2s;
    border-left: 2px solid #ffeeee;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    color: #666;
    display: block;
    transition: 0.2s;
    font-weight: 500;
    overflow: hidden;
    min-width: 200px;
}

.sidenav .header {
    padding: 32px 8px 8px 32px;
    margin: none;
    text-decoration: none;
    font-size: 25px;
    color: var(--heart);
    display: block;
    font-size: 48px;
    font-weight: 600;
}
