.fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	> * {
		margin-bottom: 1em;
	}
	label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		input {
			flex: 0 80%;
		}
	}
}

.tag-option {
	display: flex;
	align-items: center;

	i {
		text-align: center;
		flex: 0 30px;
	}
}

.tag {
	display: inline-flex;
	align-items: center;
	border-radius: 0.3em;
	background: $primary-color-light;
	color: #fff;
	padding: 0 5px;
	font-size: 0.75rem;
	i {
		text-align: center;
		flex: 0 30px;
		margin-right: 5px;
	}
}

.ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	transition: .2s;
	opacity: .25;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 1;
	border: none;
	background: none;
	font-size: 20px;
	padding: 0;
}

.ico:hover {
	opacity: 1;
}

.icon-btn {
	padding: 5px;
	box-sizing: content-box;
	cursor: pointer;
	color: var(--light-grey);
	transition: color ease-out .1s;
	font-size: .8em;
	img {
		width: 1.25em;
	}
	@media screen and (min-width: $width-xs) {
		font-size: 1em;
	}
	&:hover {
		color: var(--dark-grey);
	}
	&_white {
		color: #fff;
	}
}


.btn-close {
	border: none;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;
	background: transparent;
}

.btn-row {
	display: flex;
	justify-content: space-between;
	> * + * {
		margin-left: 1em;
	}
}



.btn {
	border-radius: 0.5em;
	padding: 10px 20px;
	text-align: center;
	color: $primary-text-color;
	> * {
		color: inherit;
	}
	i {
		font-size: 1.5em;
	}
}

.btn-outline {
	border: 2px solid $divider-color;
}

.btn-sm {
	padding: 5px 10px;
	font-size: 0.8rem;
}

.btn-block {
	@extend .btn;
	display: block;
	width: 100%;
}

.btn-primary {
	@extend .btn;
	@include setBtnStyle($primary-color, #fff, #fff);
}

.btn-accent {
	@extend .btn;
	@include setBtnStyle($accent-color, #fff, #fff);
}
