:root {
	--brain: #ffdb54;
	--vessels: #ff6b12;
	--kidney: #da7ba4;
	--lungs: #7b98fd;
	--liver: #b38127;
	--skeleton: #99d9f5;
	--muscle: #c286c3;
	--gastro: #75bd19;
	--heart: #ff6e67;
	--genital: #d0a3a3;
	--immunity: #70e080;
	--endocrine: #f7bb7c;
	--grey: #aaa;
	--light-grey: #fafafa;
	--dark-grey: #888;
	--black: rgba(50, 50, 50, 0.8);
}
