@import '~@libs/normalize.css';
@import 'variables.scss';
@import 'mixins.scss';
@import 'ui.scss';



body {
	font-family: Avenir Next, Helvetica;
	color: $primary-text-color;
}

.noscroll {
	overflow: hidden;
}

input, textarea {
	padding: 10px;
	border-radius: 0.5em;
	box-shadow: none;
	border: 2px solid #eee;
	font-size: 16px;
	font-family: inherit;
	&[type='submit'] {
		cursor: pointer;
	}
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

textarea:focus,
button:focus,
input:focus {
	outline: none;
}

input::placeholder {
	color: var(--dark-grey);
}

br {
	margin-bottom: 0.5em;
}

[data-tooltip],[data-tooltip-bottom]  {
	position: relative;

	&:before {
		pointer-events: none;
		font-size: 1rem;
		color: #5C5C5C;
		line-height: 1rem;
		content: attr(data-tooltip);
		position: absolute;
		bottom: calc(100% + 5px);
		left: -10%;
		white-space: nowrap;
		z-index: 2;
		display: none;
	}
	&:hover:before {
		display: block;
	}

}
[data-tooltip-bottom] {
	&:before {
		content:attr(data-tooltip-bottom);
		top: 100%;
		right: 0px;
		left: auto;
		bottom: auto;
	}
}


.p-relative {
	position: relative!important;
}

.d-block {
	display: block;
}

.text-right {
	text-align: right;
}


